# I. Importing libraries and dataset

In [19]:
import pandas as pd    
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
import numpy as np
import pickle
from sklearn import linear_model
import scipy.stats as stat
from src import LogisticRegression_with_p_values
from src import create_summary_table
import matplotlib.pyplot as plt
import pickle
import seaborn as sns
sns.set()
from sklearn.metrics import roc_curve, roc_auc_score
import warnings
warnings.filterwarnings('ignore')

In [20]:
loan_data_inputs_train = pd.read_csv("X_train.csv", index_col = 0)
loan_data_targets_train = pd.read_csv("y_train.csv", index_col = 0)
loan_data_inputs_test = pd.read_csv("X_test.csv", index_col = 0)
loan_data_targets_test = pd.read_csv("y_test.csv", index_col = 0)

In [21]:
loan_data_inputs_train.shape

(373028, 305)

In [22]:
loan_data_inputs_train.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,...,mths_since_last_record:<=2.42,mths_since_last_record:2.42-38.72,mths_since_last_record:38.72-48.4,mths_since_last_record:48.4-62.92,mths_since_last_record:62.92-65.34,mths_since_last_record:65.34-77.44,mths_since_last_record:77.44-82.28,mths_since_last_record:82.28-94.38,mths_since_last_record:94.38-106.48,mths_since_last_record:>106.48
427211,24000,24000,24000.0,36 months,8.90,762.08,A,A5,Supervisor inventory management,3,...,0,0,0,0,0,0,0,0,0,0
206088,10000,10000,10000.0,36 months,14.33,343.39,C,C1,mizuho corporate bank,6,...,0,0,0,0,0,0,0,0,0,0
136020,20425,20425,20425.0,36 months,8.90,648.56,A,A5,Internal Medicine of Griffin,10,...,0,0,0,0,0,0,0,0,0,0
412305,17200,17200,17200.0,36 months,16.59,609.73,D,D1,Administrative Assistant,7,...,0,0,0,0,0,0,0,0,0,0
36159,8400,8400,7450.0,36 months,12.84,282.40,C,C2,Bank of A,5,...,0,0,0,0,0,0,0,0,0,0

In [23]:
loan_data_targets_train.head()

        good_bad
427211         1
206088         1
136020         1
412305         0
36159          0

# II. Selecting features

In [24]:
inputs_train_with_ref_cat = loan_data_inputs_train.loc[: , ['grade:A',
'grade:B',
'grade:C',
'grade:D',
'grade:E',
'grade:F',
'grade:G',
'home_ownership:RENT_OTHER_NONE_ANY',
'home_ownership:OWN',
'home_ownership:MORTGAGE',
'addr_state:ND_NE_IA',
'addr_state:NV_FL_HI_AL',
'addr_state:NM_VA',
'addr_state:OK_TN_MO_LA_MD_NC',
'addr_state:UT_KY_AZ_NJ',
'addr_state:AR_MI_PA_OH_MN',
'addr_state:RI_MA_DE_SD_IN',
'addr_state:GA_WA_OR',
'addr_state:WI_MT',
'addr_state:TX',
'addr_state:IL_CT',
'addr_state:KS_SC_CO_VT_AK_MS',
'addr_state:WV_NH_WY_DC_ME_ID',
'verification_status:Not Verified',
'verification_status:Source Verified',
'verification_status:Verified',
'purpose:educ__sm_b_mov',
'purpose:oth__h__med__r_en',
'purpose:va__wed__debt_cons',
'purpose:home_impr__maj_pur__car__cre_c',
'initial_list_status:f',
'initial_list_status:w',
'term:36',
'term:60',
'emp_length:0',
'emp_length:1',
'emp_length:2-4',
'emp_length:5-6',
'emp_length:7-9',
'emp_length:10',
'mths_since_issue_d:<38',
'mths_since_issue_d:38-39',
'mths_since_issue_d:40-41',
'mths_since_issue_d:42-48',
'mths_since_issue_d:49-52',
'mths_since_issue_d:53-64',
'mths_since_issue_d:65-84',
'mths_since_issue_d:>84',
'int_rate:<9.548',
'int_rate:9.548-12.025',
'int_rate:12.025-15.74',
'int_rate:15.74-20.281',
'int_rate:>20.281',
'mths_since_earliest_cr_line:<133.05',
'mths_since_earliest_cr_line:133.05- 266.1',
'mths_since_earliest_cr_line:266.1-487.85',
'mths_since_earliest_cr_line:487.85-665.25',
'mths_since_earliest_cr_line:665.25-798.3',
'mths_since_earliest_cr_line:>798.3',
'delinq_2yrs:0',
'delinq_2yrs:1-5',
'delinq_2yrs:>=6',
'inq_last_6mths:0',
'inq_last_6mths:1',
'inq_last_6mths:2-6',
'inq_last_6mths:>=7',
'open_acc:0-3',
'open_acc:4-13',
'open_acc:13-25',
'open_acc:26-33',
'open_acc:>=33',
'pub_rec:0',
'pub_rec:1',
'pub_rec:2-3',
'pub_rec:>=4',
'total_acc:<15.0',
'total_acc:15- 30',
'total_acc:30-60',
'total_acc:>60',
'acc_now_delinq:0',
'acc_now_delinq:>=1',
'total_rev_hi_lim:<=5K',
'total_rev_hi_lim:5K-10K',
'total_rev_hi_lim:10K-20K',
'total_rev_hi_lim:20K-30K',
'total_rev_hi_lim:30K-40K',
'total_rev_hi_lim:40K-55K',
'total_rev_hi_lim:55K-95K',
'total_rev_hi_lim:>95K',
'annual_inc:<20K',
'annual_inc:20K-30K',
'annual_inc:30K-40K',
'annual_inc:40K-50K',
'annual_inc:50K-60K',
'annual_inc:60K-70K',
'annual_inc:70K-80K',
'annual_inc:80K-90K',
'annual_inc:90K-100K',
'annual_inc:100K-120K',
'annual_inc:120K-140K',
'annual_inc:>140K',
'dti:<1.6',
'dti:1.6-3.199',
'dti:3.199-7.198',
'dti:7.198-11.19',
'dti:11.197-15.196',
'dti:15.196-15.996',
'dti:15.996-19.995',
'dti:19.995-23.194',
'dti:23.194-23.994',
'dti:23.994-25.594',
'dti:25.594-30.392',
'dti:>30.392',
'mths_since_last_delinq:Missing',
'mths_since_last_delinq:0-3',
'mths_since_last_delinq:4-30',
'mths_since_last_delinq:31-56',
'mths_since_last_delinq:>=57',
'mths_since_last_record:Missing',
'mths_since_last_record:<=2.42',
'mths_since_last_record:2.42-38.72',
'mths_since_last_record:38.72-48.4',
'mths_since_last_record:48.4-62.92',
'mths_since_last_record:62.92-65.34',
'mths_since_last_record:65.34-77.44',
'mths_since_last_record:77.44-82.28',
'mths_since_last_record:82.28-94.38',
'mths_since_last_record:94.38-106.48',
'mths_since_last_record:>106.48']]

Reference category is chosen to avoid multicollinearity, usually the largest group or the one with WoE close to 0, so that other dummy coefficients represent deviations from this baseline.

In [25]:
ref_categories = ['grade:G',
'home_ownership:RENT_OTHER_NONE_ANY',
'addr_state:ND_NE_IA',
'verification_status:Verified',
'purpose:educ__sm_b_mov',
'initial_list_status:f',
'term:60',
'emp_length:0',
'mths_since_issue_d:>84',
'int_rate:>20.281',
'mths_since_earliest_cr_line:<133.05',
'delinq_2yrs:>=6',
'inq_last_6mths:>=7',
'open_acc:0-3',
'pub_rec:0',
'total_acc:<15.0',
'acc_now_delinq:0',
'total_rev_hi_lim:<=5K',
'annual_inc:<20K',
'dti:>30.392',
'mths_since_last_delinq:0-3',
'mths_since_last_record:<=2.42']

In [26]:
inputs_train = inputs_train_with_ref_cat.drop(ref_categories, axis = 1)
inputs_train.head()

,grade:A,grade:B,grade:C,grade:D,grade:E,grade:F,home_ownership:OWN,home_ownership:MORTGAGE,addr_state:NV_FL_HI_AL,addr_state:NM_VA,...,mths_since_last_record:Missing,mths_since_last_record:2.42-38.72,mths_since_last_record:38.72-48.4,mths_since_last_record:48.4-62.92,mths_since_last_record:62.92-65.34,mths_since_last_record:65.34-77.44,mths_since_last_record:77.44-82.28,mths_since_last_record:82.28-94.38,mths_since_last_record:94.38-106.48,mths_since_last_record:>106.48
427211,1,0,0,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
206088,0,0,1,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
136020,1,0,0,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
412305,0,0,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
36159,0,0,1,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0

# III. PD model estimation

In [27]:
pd.options.display.max_rows = None

In [28]:
reg = LogisticRegression_with_p_values()
reg.fit(inputs_train, loan_data_targets_train)

In [ ]:
summary_table1 = create_summary_table(reg)

Independent variables that significantly predict borrower default are identified by checking the statistical significance of their coefficients, commonly using p-values, and only significant predictors are kept in the final model.

Variable removal rules:

- Keep all dummies if all are significant; remove all if none are significant.

- Each original variable corresponds to multiple dummies.

- If any dummy is significant, keep all dummies for that original variable.

- A p-value < 0.05 indicates statistical significance.

In [30]:
feature_list = ['grade:A',
'grade:B',
'grade:C',
'grade:D',
'grade:E',
'grade:F',
'grade:G',
'home_ownership:RENT_OTHER_NONE_ANY',
'home_ownership:OWN',
'home_ownership:MORTGAGE',
'addr_state:ND_NE_IA',
'addr_state:NV_FL_HI_AL',
'addr_state:NM_VA',
'addr_state:OK_TN_MO_LA_MD_NC',
'addr_state:UT_KY_AZ_NJ',
'addr_state:AR_MI_PA_OH_MN',
'addr_state:RI_MA_DE_SD_IN',
'addr_state:GA_WA_OR',
'addr_state:WI_MT',
'addr_state:TX',
'addr_state:IL_CT',
'addr_state:KS_SC_CO_VT_AK_MS',
'addr_state:WV_NH_WY_DC_ME_ID',
'verification_status:Not Verified',
'verification_status:Source Verified',
'verification_status:Verified',
'purpose:educ__sm_b_mov',
'purpose:oth__h__med__r_en',
'purpose:va__wed__debt_cons',
'purpose:home_impr__maj_pur__car__cre_c',
'initial_list_status:f',
'initial_list_status:w',
'term:36',
'term:60',
'emp_length:0',
'emp_length:1',
'emp_length:2-4',
'emp_length:5-6',
'emp_length:7-9',
'emp_length:10',
'mths_since_issue_d:<38',
'mths_since_issue_d:38-39',
'mths_since_issue_d:40-41',
'mths_since_issue_d:42-48',
'mths_since_issue_d:49-52',
'mths_since_issue_d:53-64',
'mths_since_issue_d:65-84',
'mths_since_issue_d:>84',
'int_rate:<9.548',
'int_rate:9.548-12.025',
'int_rate:12.025-15.74',
'int_rate:15.74-20.281',
'int_rate:>20.281',
'total_acc:<15.0',
'total_acc:15- 30',
'total_acc:30-60',
'total_acc:>60',
'annual_inc:<20K',
'annual_inc:20K-30K',
'annual_inc:30K-40K',
'annual_inc:40K-50K',
'annual_inc:50K-60K',
'annual_inc:60K-70K',
'annual_inc:70K-80K',
'annual_inc:80K-90K',
'annual_inc:90K-100K',
'annual_inc:100K-120K',
'annual_inc:120K-140K',
'annual_inc:>140K',
'dti:<1.6',
'dti:1.6-3.199',
'dti:3.199-7.198',
'dti:7.198-11.19',
'dti:11.197-15.196',
'dti:15.196-15.996',
'dti:15.996-19.995',
'dti:19.995-23.194',
'dti:23.194-23.994',
'dti:23.994-25.594',
'dti:25.594-30.392',
'dti:>30.392',
'mths_since_last_delinq:Missing',
'mths_since_last_delinq:0-3',
'mths_since_last_delinq:4-30',
'mths_since_last_delinq:31-56',
'mths_since_last_delinq:>=57',
'mths_since_last_record:Missing',
'mths_since_last_record:<=2.42',
'mths_since_last_record:2.42-38.72',
'mths_since_last_record:38.72-48.4',
'mths_since_last_record:48.4-62.92',
'mths_since_last_record:62.92-65.34',
'mths_since_last_record:65.34-77.44',
'mths_since_last_record:77.44-82.28',
'mths_since_last_record:82.28-94.38',
'mths_since_last_record:94.38-106.48',
'mths_since_last_record:>106.48']
inputs_train_with_ref_cat = loan_data_inputs_train.loc[: , feature_list]

In [31]:
ref_categories = ['grade:G',
'home_ownership:RENT_OTHER_NONE_ANY',
'addr_state:ND_NE_IA',
'verification_status:Verified',
'purpose:educ__sm_b_mov',
'initial_list_status:f',
'term:60',
'emp_length:0',
'mths_since_issue_d:>84',
'int_rate:>20.281',
'total_acc:<15.0',
'annual_inc:<20K',
'dti:>30.392',
'mths_since_last_delinq:0-3',
'mths_since_last_record:<=2.42']

In [32]:
inputs_train = inputs_train_with_ref_cat.drop(ref_categories, axis = 1)
inputs_train.head()

,grade:A,grade:B,grade:C,grade:D,grade:E,grade:F,home_ownership:OWN,home_ownership:MORTGAGE,addr_state:NV_FL_HI_AL,addr_state:NM_VA,...,mths_since_last_record:Missing,mths_since_last_record:2.42-38.72,mths_since_last_record:38.72-48.4,mths_since_last_record:48.4-62.92,mths_since_last_record:62.92-65.34,mths_since_last_record:65.34-77.44,mths_since_last_record:77.44-82.28,mths_since_last_record:82.28-94.38,mths_since_last_record:94.38-106.48,mths_since_last_record:>106.48
427211,1,0,0,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
206088,0,0,1,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
136020,1,0,0,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
412305,0,0,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
36159,0,0,1,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0

In [33]:
reg2 = LogisticRegression_with_p_values()
reg2.fit(inputs_train, loan_data_targets_train)

In [34]:
summary_table2 = create_summary_table(reg2)

# IV. Exporting model

In [35]:
pickle.dump(reg2, open('pd_model.sav', 'wb'))

In [36]:
pickle.dump(feature_list, open('feature_list', 'wb'))
pickle.dump(ref_categories, open('ref_categories', 'wb'))

export pd